* {
  /* font-family: "Playfair Display", sans-serif; */
  font-family: 'Lora', serif;
  background-color: #faf4ed;
}

body {
  /* font-family: "Playfair Display", sans-serif; */
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-align: center;
}